<div class="modal fade" id="notess" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Notes for: <span id="articleTitle"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush" id="note-body">
        </ul>
        <div class="modal-footer">
          <form class="w-100">
            <div class="form-group">
              <div class="form-row w-100">
                <label for="new-note" class="col-form-label col-sm-2">Note:</label>
                <input type="text" class="form-control col-sm-7 mx-auto" id="new-note">
                <button type="button" id="submit" class="btn btn-primary col-sm-2">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>      
    </div>
  </div>
</div>
