<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
	  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
	  <link rel="stylesheet" href="../public/css/styles.css" media="screen" title="no title" charset="utf-8">
		<script src="https://code.jquery.com/jquery.js"></script>
		<title>Rueters Scrapper</title>
	</head>
	<body>
  	<div class="container">
  		<nav class="navbar navbar-expand-lg navbar-light bg-info">
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Saved Articles</a>
			      </li>
			    </ul>
			    <button type="button" class="btn btn-success btn-sm mx-2">Scrape New Articles</button>
					<button type="button" class="btn btn-danger btn-sm mx-2">Clear All Articles</button>
			  </div>
			</nav>
			<div class="jumbotron">
			  <h1 class="display-4 text-white text-center">Paulie Scrapper</h1>
			  <h3 class="text-white text-center"> Rueters US News Edition</h3>
			</div>
<div class="d-flex p-2 flex-wrap justify-content-center">
			<div class="card m-1" style="width: 21rem;">
				<h5 class="card-header text-white bg-info">Is India Creating Its Own Rohingya?</h5>
  			<div class="card-body">
			    
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <button type="button" class="btn btn-outline-info btn-sm justify-content-center">Save Article</button>
			  </div>
			</div>
			<div class="card m-1" style="width: 21rem;">
				<h5 class="card-header text-white bg-info">Is India Creating Its Own Rohingya?</h5>
  			<div class="card-body">
			    
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <button type="button" class="btn btn-outline-info btn-sm">Save Article</button>
			  </div>
			</div>
			<div class="card m-1" style="width: 21rem;">
				<h5 class="card-header text-white bg-info">Is India Creating Its Own Rohingya?</h5>
  			<div class="card-body">
			    
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <button type="button" class="btn btn-outline-info btn-sm">Save Article</button>
			  </div>
			</div>
			<div class="card m-1" style="width: 21rem;">
				<h5 class="card-header text-white bg-info">Is India Creating Its Own Rohingya?</h5>
  			<div class="card-body">
			    
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <button type="button" class="btn btn-outline-info btn-sm">Save Article</button>
			  </div>
			</div>
			<div class="card m-1" style="width: 21rem;">
				<h5 class="card-header text-white bg-info">Is India Creating Its Own Rohingya?</h5>
  			<div class="card-body">
			    
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <button type="button" class="btn btn-outline-info btn-sm justify-content">Save Article</button>
			  </div>
			</div>
			<div class="card m-1" style="width: 21rem;">
				<h5 class="card-header text-white bg-info">Is India Creating Its Own Rohingya?</h5>
  			<div class="card-body">
			    
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <button type="button" class="btn btn-outline-info btn-sm">Save Article</button>
			  </div>
			</div>
</div>

  	</div>
	</body>
</html>